:root {
    --primary-blue-100: #2C3878;
    --primary-blue-90: #566093;
    --primary-blue-75: #8088AE;
    --primary-blue-50: #ABAFC9;
    --primary-blue-25: #D5D7E4;
    --primary-blue-10: #EAEBF2;
    --grayscale-black: #000;
    --grayscale-70: #141414;
    --grayscale-50: #333;
    --grayscale-30: #3C3C3C;
    --grayscale-10: #9C9C9C;
    --grayscale-lightray: #D9D9D9;
    --grayscale-white: #FFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/** ---Header--- */
.container {
    width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

.logo {
    color: var(--grayscale-black);
    font-size: 31.93px;
    font-weight: 700;
    line-height: 1.7;
}

.navigation {
    margin-right: 360px;
}

.nav-list {
    display: flex;
}

/* .nav-list-item {} */

.nav-list-link {
    color: var(--grayscale-50, #333);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.nav-list-item:not(:last-child) {
    margin-right: 74px;
}

.header-btn {
    color: var(--grayscale-white, #FFF);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 14px 32px;

    border: 1px solid var(--grayscale-30, #3C3C3C);
    background: var(--primary-blue-100, #2C3878);
}

/** ---2. About section--- */
.about {}

.container {}

.about-section-name {}

.about-title {}

.employee {}

.employee-name {}

.employee-position {}

.about-text {}

.about-link {}