:root {
    --primary-blue-100: #2C3878;
    --primary-blue-90: #566093;
    --primary-blue-75: #8088AE;
    --primary-blue-50: #ABAFC9;
    --primary-blue-25: #D5D7E4;
    --primary-blue-10: #EAEBF2;
    --grayscale-black: #000;
    --grayscale-70: #141414;
    --grayscale-50: #333;
    --grayscale-30: #3C3C3C;
    --grayscale-10: #9C9C9C;
    --grayscale-lightray: #D9D9D9;
    --grayscale-white: #FFF;
}

body {
    font-family: 'Poppins', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h5 {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

img {
    display: block;
}

/** ---Header--- */
.container {
    width: 1200px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

.logo {
    color: var(--grayscale-black);
    font-size: 31.93px;
    font-weight: 700;
    line-height: 1.7;
}

.navigation {
    /* display: flex; */
    border: 1px solid red;
}

.header-logo-menu-wrap {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 74px;
    border: 1px solid blue;
}

/* .nav-list-item {} */

.nav-list-link {
    color: var(--grayscale-50, #333);
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
}

.nav-list-item:not(:last-child) {
    margin-right: 74px;
}

.header-btn {
    color: var(--grayscale-white, #FFF);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    padding: 14px 32px;

    border: 1px solid var(--grayscale-30, #3C3C3C);
    background: var(--primary-blue-100, #2C3878);
    margin-left: 74px;
}

/** ---1. Hero section--- */
/* .main {} */

/* .hero {} */

.hero-title {
    color: var(--grayscale-50, #333);
    font-size: 72px;
    font-weight: 700;
    line-height: 1.4;
    width: 681px;
}

.hero-stats-list {
    background: var(--primary-blue-100, #2C3878);
    display: flex;
    flex-direction: column;
    width: 252px;
}

.hero-stats-li {}

.hero-stats-li-title {
    color: var(--grayscale-white, #FFF);
    font-size: 52px;
    font-weight: 400;
    line-height: 1.6;
}

.hero-stats-li-text {
    color: var(--grayscale-white, #FFF);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
}

.hero-rights {}

/** ---2. About section--- */
/* .about {}

.container {}

.about-section-name {}

.about-title {}

.employee {}

.employee-name {}

.employee-position {}

.about-text {}

.about-link {} */